<div class="jumbotron text-center bg-light">
    <h1>
        BeratNzp.com Blog
    </h1>
    <hr>
    Hoşgeldiniz
</div>
<div class="text-right mb-4">
    <i>
        {% if keywords %}
            <u>{{keywords}}</u> içeren {{articles.count}} makale(leri) görüntülüyorsunuz.
        {% elif category %}
            <u>{{category}}</u> kategorisindeki {{articles.count}} makale(leri) görüntülüyorsunuz.
        {% else %}
            Son {{articles.count}} makale(leri) görüntülüyorsunuz.
        {% endif %}
    </i>
</div>
{% if articles %}
    {% for article in articles %}
<div class="col-md-12">
    <a class="removeDecorationLink" href="{% url 'showArticle' article.id %}">
        <h2 class="mt-4">{{article.title}}</h2>
    </a>
    <hr>
    <p class="text-left">
        Kategori: <a href="{% url 'index' %}?category={{article.category}}" title="{{article.category}}">{{article.category}}</a>
        <span class="rightedLink">
          {{article.created_date}} | <a href="#" title="Yazar">{{article.author}}</a> tarafından yazıldı.
        </span>
    </p>

    {% if article.image %}
    <hr>
    <a class="removeDecorationLink" href="{% url 'showArticle' article.id %}" title="{{article.title}}">
        <img class="img-fluid rounded" src="{{article.image.url}}" alt="{{article.title}}">
    </a>
    {% endif %}

    <!-- Post Content -->
    <p class="lead mt-4">
    {{article.content|safe|truncatewords:40}}
    </p>
    <!-- Post Content -->
    <div class="row flexEndJustify">
        <a class="btn btn-danger mt-4" href="{% url 'showArticle' article.id %}" title="{{article.title}}">Devamını Oku</a>
    </div>

</div>
<hr class="new2">
{% endfor %}
    {% else %}
        <div class="alert alert-danger">
          Makale bulunamadı.
        </div>
{% endif %}
