{% extends "includes/layout.html" %}
{% block body %}

{% include "../partials/_navbar.html" %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12 col-12 mt-4">

                <p class="lead">
                    1996 Yılında Gaziantep'te doğdum.
                    İlk, orta ve lise eğitimimi burada tamamladım.
                </p><p class="lead">
                    Çocukluğumda da eğitim hayatımda da bilgisayarlarla hep iç içeydim. Boza boza öğreniyordum.
                    İlk okulda internette gezdiğim zamanlarda web'e ilgim oluşmaya başlamıştı.
                    O zamanlar bilgisayarı kurcalayarak bulduğum Microsoft Office'in FrontPage ürünü ile
                    kendi bilgisayarım üzerinde programın arayüzünde bulunan butonlarla basit HTML tasarımları yapmıştım.
                    Bu programda bulunan "Kaynak" sekmesinde aslında herşeyin kod olduğunu farketmiştim ve bunları incelemeye başlamıştım.
                </p><p class="lead">
                    Ortaokul yıllarımda gerçek anlamda kendi sitemi yapmak için mynet'in (yanlış hatırlamıyorsam) "sitem.mynet" ürünüyle
                    tanıştım ve ilk web sitemi burada yayınlamıştım. Sonrasında WordPress, blogspot ve space ile amaçsız siteler kuruyordum.
                </p><p class="lead">
                    Daha sonra hostingleri ve domainleri keşfettim, bir tık daha bağımsız olmak adına hostinglerle birlikte
                    cPanel içerisinde kurulu gelen Joomla ve WordPress gibi CMS'leri de deneyimledim. MSN Messenger uygulaması
                    ilk çıktığı zamanlarda "Bot Oluşturmak" amacıyla yapılmış yazılımları kullandıkça yazılıma ilgim artıyordu.
                    Counter-Strike oyunuyla fazla vakit geçirdiğimden Counter-Strike sunucusu kiralamaya karar vermiştim. O zamanlarda kiraladığım
                    oyun sunucuları beni "Counter-Strike sunucu yönetimi, pluginleri, modları" gibi farklı şeyler öğrenmeye itiyordu.
                </p><p class="lead">
                    Lise yıllarımda kiraladığım Counter-Strike sunucularının içerisine manuel olarak pluginler kuruyordum. Pluginlerin Pawn
                    programlama dili ile kodlanmış <i>.sma</i> uzantılı kaynak kodlarını okuyup ufak modifikasyonlar yapıyordum.
                    Kafamda oluşan bir mod vardı ve bunu bir tanıdığıma ücreti karşılığında yaptırmıştım.
                    Ama bu beni tatmin etmemişti ve kendim yapmak istiyordum. Hala kendime ait bir projem yoktu.
                </p><p class="lead">
                    Google'da "yazılım dersleri" gibi aramalar yapıyordum. C ve C++ gibi dillerde hesap makinesi gibi çok basit uygulamalar yapmıştım.
                    Artık "yazılımın aslında, hiçbir şey bilmeyen bir makineye, yapması gereken herşeyi tek tek öğretmek" kadar basit bir kavram olduğunu
                    anlamıştım. Daha önce modifikasyon yaptığım pluginlerden kimi zaman işime yarayacağını düşündüğüm nesneleri kopyala yapıştırla, kimi zaman
                    anladığım kadarıyla kendim yazarak kendi Counter-Strike modumu yani ilk projemi yapmıştım.
                </p><p class="lead">
                    Yeni merakım kendi Counter-Strike ve TeamSpeak sunucularımı kurmaktı, bunların VPS gibi sanal sunuculara ve genellikle GNU/Linux işletim sistemlerine
                    sahip sunuculara kurulduğunu öğrendim. İşe koyuldum, ancak GNU/Linux işletim sistemine sahip sunucular genellikle terminal ekranından
                    yönetiliyordu. Tamamen kopyala yapıştırla ve deneme-yanılma yöntemleri ile kurulumları tamamlıyordum.
                    Çünkü terminali anlayarak yapmak için bir "Sistem Yöneticisi" olmam gerekiyordu. Terminal çok ilgimi çekmişti. Bu da hedeflerim arasına yazılmıştı.
                </p><p class="lead">
                    Liseden mezun olduktan sonra LYS puanımdan memnun kalmayınca İstanbul'a abimin yanına taşınıp bir sene daha orada hazırlanmaya karar verdim.
                    Bilgisayardan en uzun süre uzak olduğum yıldı. YGS'den sonra dayanamayıp memlekete dönüş yapmıştım. LYS'ye de orada girecektim.
                </p><p class="lead">
                    Sene sonunda istediğim "Yazılım Mühendisliği" bölümüne puanımın yine yetmeyeceğini düşündüm. İstediğim okulda da bulunan aslında bir eşit ağırlık bölümü
                    olan "Yönetim Bilişim Sistemleri"nin %50 burslu programını tercih ettim ve kazandım.
                </p><p class="lead">
                    Üniversitenin ilk yılında oyun ile çok vakit geçirdim ve okulumuzun resmi e-spor takımında as oyuncu oldum. İkinci
                    sene yazılım ve sistemden uzak kaldığımı düşünerek Udemy'den "PHP ile Sıfırdan e-Ticaret Eğitimi" aldım, geçmişte yazılıma karşı
                    aşinalığım olduğundan bir ay gibi kısa bir sürede e-Ticaret altyapısı oluşturdum. Sonra "MeetUp" uygulamasını keşfettim ve
                    yazılımla ilgili etkinliklere katılmaya başladım. Etkinliklerde tanıdığım insanların bana çok katkısı oldu ve almam gereken gazı aldım.
                    Arkadaşlarım merak edip soru sorduğunda cevaplarken "öğrendiğim yerde öğretmekten haz aldığımı" farkettim.
                </p><p class="lead">
                    Buraya kadarki az tecrübemle, küçük bir ajansta işe girdim ve kurumsal web siteleri kodlamaya başladım. Bu sırada kendime yatırım olması
                    için daha önce yaptığım altyapıyı sürekli geliştiriyordum. Daha önce hedeflerim arasına koyduğum "GNU/Linux Sistem Yönetimi" ile ilgili araştırmalarım hep devam
                    ediyordu ufak ufak öğreniyordum ama yeterli Türkçe kaynağı bulamıyordum. İngilizce benim için büyük problemdi.
                    Teknik dökümanlarda ne anlatıldığını anlıyordum ama derine indiğimde sorun yaşıyordum.
                    "Linux Kullanıcıları Derneği"nin düzenlediği "Linux Yaz Kampı"nı gördüm ve hemen kaydoldum.
                    16 günlük eğitimin sonunda "GNU/Linux Sistem Yönetimi 1. Seviye" diplomamı aldım ve İstanbul'a yani işime geri döndüm. Doğru zaman olduğunu
                    düşündüğümde kendi altyapımı satabileceğim bir websitesi (www.makroport.net) kurdum.
                </p><p class="lead">
                    Ajansta çalışırken kendimi geliştirecek çok vakit bulamıyordum. Sürekli benzer işler yapmak beni teknolojinin gerisinde bırakıyordu.
                    Ajanstan ayrılıp kendi altyapımı daha da geliştirdim. Müşterilerimle ilgilenmeye ve kendime daha çok şey katmaya başladım.
				</p><p class="lead">
					Aldığım GNU/Linux eğitimi beni AWS üzerinde Cloud teknolojisini öğrenmeye itti. Biraz pratik yaptıktan sonra, GitHub hesabımda burada yazdığım basit
					bash scriptleri yayınlamaya başladım. Bunlar benim için terminalde pratik oluyor ve unutmamamı sağlıyor. Server-Client haberleşmesi
					yani bilgisayarları konuşturmak en büyük ilgim olmuştu.
				</p><p class="lead">
					Ne kadar bilgisayardan kopamasamda, her zaman hareketli, sporu seven ve evde duramayan bir insanımdır. Bu yıl amatör olarak tenis, yelkenli, yüzme ve
					fitness'a başladım. Bunların vücut dengem kadar beynimi de dinç tuttuğunu hissedebiliyorum. Profosyonel olarak eSpor'la ilgilenmemin yanına yüzme ve
					tenisi de eklemek hayallerim arasında.
				</p><p class="lead">
					Eskiden de ismine hep aşina olduğum ve öğrenmek istediğim Python ile birlikte "Nesne Tabanlı Programlama"yı daha iyi anlamaya başladım.
					Basit bir TCP Socket'i yazdım. Hala bir eksiğim vardı; Framework.
				</p><p class="lead">
					Şu sıralarda bu eksiğimi kapatmaya başladım. Çoğu vaktimi Django'ya ayırsamda bir yandan da Laravel, Flask, Selenium öğrenmeye çalışıyorum.
					Django'da yeterli seviyeye geldiğimi düşündüğümde Django Rest frameworkünü öğrenmeye başlayacağım. Sonraki hedef yıllardır düşündüğüm kendi
                    girişimlerimi hayata geçirmek.
				</p><p class="lead">
					Bunları yaptığım süre zarfında hayatımın en dolu üç senesini yaşadığımı farkettim. Hem "öğrendiğim yerde öğretmeyi",
					hem de unuttuklarıma daha kolay ulaşmayı hedefleyerek bu bloğu açmaya karar verdim.
				</p><p class="lead">
					Umarım hep birlikte güzel şeyler öğreniriz. Sağlıkla kalın.
				</p>

                <div class="card p-4 bg-white">
                    <div class="bd-example text-right">
                      <address>
                        <strong>Berat Niziplioğlu</strong><br>
                        Backend Developer | GNU/Linux System Administrator<br>
                        İstanbul, Turkiye<br>
                        info @ beratnzp.com
                        <hr>
                        <a href="https://www.makroport.net">https://www.makroport.net</a><br>
                        <a href="https://www.linkedin.com/in/beratnzp/">https://www.linkedin.com/in/beratnzp/</a><br>
                        <a href="https://github.com/BeratNzp">https://github.com/BeratNzp</a><br>
                        <a href="https://medium.com/@beratnzp">https://medium.com/@beratnzp</a>
                      </address>
                    </div>
            </div>
                            </div>

            <div class="col-md-3 col-lg-3 col-sm-12 col-12">
                {% include "../partials/_sidebar.html" %}
          </div>
       </div>
    </div>
</main>
{% endblock body %}