{% extends "includes/layout.html" %}
{% block body %}
<head>
    <meta name="description" content="Teknoloji, yazılım ve sistem konularında içerikler barındıran kişisel blog sayfası.">
    <meta name="keywords" content="berat,niziplioğlu,nzp,beratnzp,blog,yazılım,sistem,developer,system,gnu,linux,pyhon,php,shell,bash,cloud,sunucu,teknoloji">
    <link rel="canonical" href="http://www.beratnzp.com/contact/">
    <meta property=”og:title” content='{{pageTitle}} :: BeratNzp.com'>
	<meta property=”og:description” content="Teknoloji, yazılım ve sistem konularında içerikler barındıran kişisel blog sayfası.">
	<meta name="twitter:title" content="{{pageTitle}} :: BeratNzp.com">
	<meta name="twitter:description" content="Teknoloji, yazılım ve sistem konularında içerikler barındıran kişisel blog sayfası.">
</head>
{% include "../partials/_navbar.html" %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12 col-12 mt-4">

            <div class="card p-4 bg-white">
                <div class="bd-example text-right">
                  <address>
                    <strong>Berat Niziplioğlu</strong><br>
                    Backend Developer | GNU/Linux System Administrator<br>
                    İstanbul, Turkiye<br>
                    info @ beratnzp.com
                    <hr>
                    <a href="https://www.makroport.net" title="MakroPort">https://www.makroport.net</a><br>
                    <a href="https://www.linkedin.com/in/beratnzp/" title="LinkedIn Profilim">https://www.linkedin.com/in/beratnzp/</a><br>
                    <a href="https://github.com/BeratNzp" title="GitHub Profilim">https://github.com/BeratNzp</a><br>
                    <a href="https://medium.com/@beratnzp" title="Medium Profilim">https://medium.com/@beratnzp</a>
                  </address>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-12">
            {% include "../partials/_sidebar.html" %}
        </div>
    </div>
    </div>
</main>
{% endblock body %}