{% extends "includes/layout.html" %}
{% block body %}
<head>
    <meta name="description" content="Teknoloji, yazılım ve sistem konularında içerikler barındıran kişisel blog sayfası.">
    <meta name="keywords" content="berat,niziplioğlu,nzp,beratnzp,blog,yazılım,sistem,developer,system,gnu,linux,pyhon,php,shell,bash,cloud,sunucu,teknoloji">
    <link rel="canonical" href="http://www.beratnzp.com/">
    <meta property=”og:title” content='{{pageTitle}} :: BeratNzp.com'>
	<meta property=”og:description” content="Teknoloji, yazılım ve sistem konularında içerikler barındıran kişisel blog sayfası.">
	<meta name="twitter:title" content="{{pageTitle}} :: BeratNzp.com">
	<meta name="twitter:description" content="Teknoloji, yazılım ve sistem konularında içerikler barındıran kişisel blog sayfası.">
</head>
{% include "../partials/_navbar.html" %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12 col-12 mt-4">
                {% include "../partials/_homepage.html" %}
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 col-12">
                {% include "../partials/_sidebar.html" %}
            </div>
        </div>
    </div>
</main>
{% endblock body %}